/* You can add global styles to this file, and also import other style files */
@import 'libs/ui/stylesheets/utils';

// Global styles
@import 'libs/ui/stylesheets/normalize';
@import 'libs/ui/stylesheets/material-theme';
@import 'libs/ui/stylesheets/global';
